@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.noto-serif{
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.inter{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Share Style  */

body{
    font-family: "Noto Serif", serif;
}





/* header section style  */
.header-section{
    max-width:1140px;
    margin: 0px auto;

}

.nav-section{
    max-width:1140px 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
   width: 100%;

}

.nav-ul-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list-items {
    font-family:"Inter", sans-serif;
    font-size:1rem ;
    list-style: none;
    padding-left: 58px;

}

.nav-list-items, a{
    text-decoration: none;
}

.nav-card-img{
    width: 150px;
    padding-left: 58px;
}

.nav-home{
    font-weight: 700;
    color: #252432 ;
}

.nav-item{
    font-weight: 400;
    color: #8987A1;  
}


.nav-card-img{
    font-family: "Inter", sans-serif;
    color: #000000 ;
}


/* Main Header style  */
.head-main{
    max-width: 1140px;
    margin: 210px auto; 
    display: flex;
    justify-content: space-between;
}

.main-left-col{
    margin-top:162px ;
}

.header-title{
    font-size: 2rem ;
    font-weight: 700;
    text-transform: uppercase;
}

.header-subtitle{
    color:#E95A08 ;
}

.header-descrption{
    font-family: "Inter", sans-serif;
    color:rgba(0, 0, 0, 0.5) ;

}

.header-img{
   width: 570px;
   height: 355px;

}


/* Our Plants style  */

.plants-section{
    max-width: 1140px;
    margin: 120px auto;
    text-align: center;
}

.plants-title{
    font-size:3.125rem ;
    font-weight:700 ;
}

.plants-section-header{
    text-align: center;
}

.plants-subtitle{
    color: #E95A08 ;
}

.plants-desctiption{
    font-family: "Inter", sans-serif;
    max-width: 888px;
    margin: 16px auto ;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
}

.card-img{
    width: 100%;
}

.plants-cards-items{
    max-width: 1140px;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(4,1fr);
    gap: 30px 10px;
}

.card-name{
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    color: #111111
}

.card-price{
    font-family:"Inter", sans-serif ;
    font-weight: 700;
}

.btn-add-card{
    font-family:"Inter", sans-serif ;
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 700;
    background-color: #E95A08;
    border: none;
    width: 100%;
    padding: 19px 80px;
    border-radius: 5px;   
}


/* Flower & Plants Lover Style */

.flower-lover-section{
    max-width: 1140px;
    margin: -150px auto;
}

.trusted-bdg{
    width: 286px;
    height: 286px;
    position: relative;
    top: 170px;
    right: -350px;
}
     
.flower-lover-left-col-img{
    width: 100%;
}

.flower-lover-right-col{
    max-width: 540px;
}


.flower-lover-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.flower-lover-right-col-title{
    font-family:"Noto Serif", serif;
    font-size: 3.125rem;
    padding-left: 15px;
    font-weight: 700;
}

.flower-lover-li{
    font-family:"Inter", sans-serif;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
}


/* Latest Deals Style  */
.latest-deals{
    max-width: 1440px;
    margin: 350px auto;
    text-align: center;
}

.latest-deals-description{
    max-width: 888px;
    margin: 10px auto;
}

.deals-subtitle{
    color: #E95A08 ;
}

.latest-deals-title{
    font-size: 2.125rem;
}
.latest-deals-description{
    font-family:"Inter", sans-serif;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -20px
}


/* offer section style */
.offer-section{
    max-width: 1140px;
    margin: -150px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    font-family:"Noto Serif", serif ;
    color: #FFFFFF; 
}

.offer-left-col-parent{
    max-width: 367px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


/* #Overlay Dark effect# */
.offer-left-cola {
    position: relative;
    max-width: 367px;
    height: 201px;
    border-radius: 14px;
    background-image: url(assets/deal-bloom.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.offer-left-cola::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1;
    opacity: 0.7;
    border-radius: 14px;
}


.offer-left-cola h2,
.offer-left-cola a {
    position: relative;
    z-index: 2;
    color: white;
}

.offer-left-col-shopNow{
    cursor: pointer;
}

.offer-left-colb{
     position: relative;
     max-width: 367px;
     height: 201px;
     border-radius: 14px;
     background-image: url(assets/deal-ana.png);
     background-size: cover;
      background-position: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     
}

.offer-left-colb::before {
     content: "";
     position: absolute;
     inset: 0;
     background-color: rgba(0, 0, 0, 0.4); 
     z-index: 1;
     opacity: 0.7;
     border-radius: 14px;
}

.offer-left-colb h2,
.offer-left-colb a {
     position: relative;
     z-index: 2;
     color: white;
}

.offer-right-col-shopNow{
    cursor: pointer;
}

.offer-left-col-title{
    font-size: 1.2rem;
    font-weight: 700;
}

.offer-left-col-shopNow{
    font-family:"Inter", sans-serif ;
    font-weight: 600;
    text-decoration: underline;
}


.offer-right-col-parent{
     position: relative;
     width: 753px;
     height: 423px;
     border-radius: 14px;
     background-image: url(assets/deal-zabo.png);
     background-size: cover;
     background-position: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.offer-right-col-parent::before{
     content: "";
     position: absolute;
     inset: 0;
     background-color: rgba(0, 0, 0, 0.4); 
     z-index: 1;
     opacity: 0.7;
     border-radius: 14px;
}

.offer-right-col-contaion h2,
.offer-right-col-contaion a {
     position: relative;
     z-index: 2;
     color: white;
}

.offer-right-col-contaion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer-right-col-title{
    font-size: 2.2rem;
    font-weight: 700;
}

.offer-right-col-shopNow{
    font-family:"Inter", sans-serif ;
    font-size:1.75rem;
    text-decoration: underline;
    font-weight: 600;
}



/* Subscribe sectioin */
.subscribe-section{
    position: relative;
    width: 1440px;
    height: 533px ;
    margin: 300px auto;
    background-image: url(assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.subscribe-containt{
    position: absolute;
    width: 830px;
    top: 130px;
    left: 300px;
    text-align: center;
}

.subscribe-containt h1{
    font-size:3.125rem ;
    font-weight: 700;
    color:#FFFFFF ;
}

.subscribe-emai{
    max-width:830px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    font-family:"Inter", sans-serif;
    font-size: 1rem;
    padding: 15px;
    margin: 8px 0;
    width: 100%;
    transition: 0.3s;
    border: none;
}

.btn-Subscribe{
    width: 186px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    background: transparent;
    background-color: #E95A08;
    padding: 15px 53px;
    color: #FFFFFF;
    border: none;
}



/* Footer section style  */
.footer-section{
    max-width:1440px;
    margin: 0px auto;
    display: flex;
    justify-content:space-between;
    gap: 110px;
    margin-bottom: 80px;
}

.footer-col-first{
    width: 359px;
}

.footer-col-first-logo{
    width: 135px;
    height: 82px;
}

.footer-col-first-description{
    font-family:"Inter", sans-serif;
    font-size: 1.2rem;
    color:rgba(0, 0, 0, 0.5) ;
}

.footer-col-first-li{
    list-style: none;
    font-family:"Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.5) ;
    margin-bottom:32px ;
}

.footer-col-fourtt{
    width: 216px;
    height: 36px;
}

.footer-social-img{
    width: 36px;
    padding-right:24px ;

}
.footer-col-fourtt{
    display: flex;
}











/* Small Devices */
@media screen and (max-width: 576px) {
    /* header nav section  */
    .nav-section{
        width: 385px;
        
    }
    .nav-logo{
        width: 63px;
        height: 38px;
    }
    .nav-card-img{
        margin-top: 100px;
        margin-left: 25px;
        cursor: pointer;
    }

    .nav-list-items{
        display: none;
    }


    /* Main Header style  */
    .head-main{
        flex-direction: column-reverse;

    }
    .header-title{
        font-size: 1.5rem;
        margin-top: -128px;
    }

    .header-descrption{
        font-size: 0.95rem;
        width: 360px;
        height: 68px;
    }

    .header-img{
        width: 390px;
        height: 245px;
        margin-top: -128px;
    }


    /* Our Plants style  */
    .plants-section{
        max-width: 393px;
        margin: -160px auto;

    }
    .plants-title{
        font-size: 1.2rem;
    }

    .plants-desctiption{
        font-size: 0.95rem ;
    }

    .plants-cards-items{
        max-width: 393px;
        margin: 10px auto;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }

    .card-name{
        font-size: 1rem;
    }

    .btn-add-card{
        padding: 19px 30px;
    }


    /*Flower & Plants Lover Start */

    .flower-lover-section{
       max-width:361px ;
    }
    .trusted-bdg{
        display: none;
    }

    .flower-lover-main{
        flex-direction: column;
    }

    .nav-card-img{
        padding-left: 0px;
         width: 110px;
    }

    .flower-lover-left-col-img{
        max-width:540px ;
        margin: 200px auto;
    }

    .flower-lover-right-col{
        margin-top: -200px;
        margin-left: -15px;
    }

    .flower-lover-right-col-title{
        font-size: 1.2rem;
    }

    .plants-desctiption{
        font-size: 0.95rem
    }

    .flower-lover-li{
        width: 370px;
       font-size: 0.95rem ;
       margin-top: 10px;
    }



    /* Latest Deals Style  */
    .latest-deals{
        margin: 243px auto;
    }
    
    .latest-deals-title{
        font-size: 1.5rem;
    }

    .latest-deals-description{
        max-width: 336px;
        font-size: 0.95rem;
        margin-top: 5px;
    }


    /* offer section style */
    .offer-section{
        max-width: 361px;
        margin: -200px auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;   
    }
    
    .offer-left-col-title{
        font-size: 0.95rem;
    }

    .offer-left-col-shopNow{
        font-size: 1rem;
    }

    .offer-right-col-parent{
        width: 361px;
        height: 171px ;
        margin-top: 20px;
    }

    .offer-right-col-title{
        font-size: 1.25rem;
    }

    .offer-right-col-shopNow{
        font-size: 1.2rem;
    }


    /* Subscribe sectioin */
    .subscribe-containt h1{
        font-size: 1.2rem;
        padding-top: 10px;
        margin-right: 60px;
        
    }

    .subscribe-section{
        margin-top: 210px;       
        position: relative;
        width: 393px;
        height: 275px ;
        background-size: contain;
    }

    .subscribe-containt{
        position: absolute;
        max-width: 320px;
        top: 60px;
        left: 64px;
        text-align: center;
    }

    .subscribe-emai{
        width:321px ;
        margin-left: -25px;
    }

    .btn-Subscribe{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    input{
        margin-top: 0px;
        margin-bottom: 0px;
        width: 190px;
        height: 20px;
        border: none;
    }



    /* Footer section style  */
    .footer-section{
        width: 393px;
        flex-direction: column;
        margin-top: -300px;
        margin-bottom: 10px;
    }

    .footer-col-second{
        margin-top:-90px ;
    }

    .footer-col-third{
        margin-top:-120px ;       
    }
    .footer-col-first-li{
        margin-left:-25px ;
    }

    .ofoter-col-fourth{
        margin-top: -100px;
        margin-bottom: 40px;
        margin-left: 15px;
    }


}